.chatbot__button {
	position: absolute;

	right: 0;

	width: 60px;
	height: 60px;
	border: none;

	background-color: $primary-color;

	transition: all 0.2s ease-in;

	cursor: pointer;

	&:hover {
		background-color: $primary-color-light;
	}
}