.chatbot {
	position: fixed;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;

	width: $width-chatbox;
	height: $height-chatbox;
	max-width: $maxWidth-chatbox;
	max-height: $maxHeight-chatbox;
	margin: 2rem;

	border-radius: 1rem;
	box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

	transition: all 0.5s;

	overflow: hidden;


	@media (min-width: 45rem) {
		width: 100%;
		max-width: $width-chatbox;
		max-height: $height-chatbox;

		border-radius: 0.8rem !important;
	}

	&__title {
		display: flex;

		background-color: $primary-color;

		h2 {
			height: 6rem;
			margin: auto auto auto 2rem;

			font-size: 20px;
		}
	}

	&__messageBox {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		padding: 16px;

		background: rgb(234, 238, 243);

		overflow: auto;
	}

	&__input {
		display: flex;

		height: 6rem;

		border-top: 1px solid rgba(202, 202, 202, 0.76);
	}
}