.input {
	&__message {
		padding: 1rem 5rem 1rem 1.6rem;
		flex-grow: 1;
		border: none;

		&:focus {
			outline: none;
		}
	}

	&__send {
		background: #fff;
		width: 6rem;
		height: 6rem;
		right: 0;
		border: none;
		cursor: pointer;

		&:hover {
			background: lavender;
		}
	}
}