html {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;

	color: white;
}

.chatbot {
	&__title {
		font-size: large;
		font-weight: bold;

		line-height: 6rem;
	}

	&__messageBox {
		font-size: 1.8rem;
	}
}