$primary-color: rgb(11, 120, 221);
$background-color: rgb(145, 193, 238);
$primary-color-light: rgb(107, 172, 233);
$secondary-chatbot-color: red;

$width-chatbox: 40rem;
$maxWidth-chatbox: 50%;
$height-chatbox: 60rem;
$maxHeight-chatbox: 50vh;